.pokemonCard{
 width: 22%;
 height: 500px;
 border: solid black 1px;
 margin: 5px;
 background-color: aliceblue solid;
}

.pokemonImage{
    width:50%;
    height:50%;
    border-bottom: solid black 2px;
}

